<h1> All tags</h1>

<ul>

<% @tag.each do |tag|%>
<%= tag.name %> 

<%= link_to "delete" , tag_path(tag), method: :delete , data: {confirm: "Are you sure you want to delete the article?"}%><br />
<% end %>

</ul>